<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProjectVideo.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/icons/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-primary-subtle" data-bs-theme="dark">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-three-dots"></i>
                </button>
                <div class="collapse navbar-collapse" id="main-navbar">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                        <img src="~/images/logo.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                        Project Video
                     </a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-controller="Proposals" asp-action="Index">
                                <i class="bi bi-camera2"></i>
                                Project Proposals
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">
                                <i class="bi bi-people-fill"></i>
                                Ethnic Teams
                            </a>
                        </li>
                        <li>
                            <a class="nav-link" href="#">
                                <i class="bi bi-person-vcard"></i>
                                Trainers
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>


