@model ProjectVideo.Web.Models.Forms.ProjectProposalViewModel
@{
    ViewData["Title"] = "Project Proposal";
}

<div class="card">
    <div class="card-header">
        <h1 class="card-title">Project Proposal</h1>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="row">
                <div class="col-6">
                    <div class="mb-2">
                        <label class="form-label" asp-for="ProjectManager"></label>
                        <input class="form-control" asp-for="ProjectManager" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="Email"></label>
                        <input class="form-control" asp-for="Email" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="MainContact"></label>
                        <input class="form-control" asp-for="MainContact" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="OrganizationName"></label>
                        <input class="form-control" asp-for="OrganizationName" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="OrganizationHistory"></label>
                        <textarea class="form-control" asp-for="OrganizationHistory"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="StaffAreVolunteers"></label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="StaffAreVolunteers" />
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="ProjectTitle"></label>
                        <input class="form-control" asp-for="ProjectTitle" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="TargetAudience"></label>
                        <input class="form-control" asp-for="TargetAudience" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="KeyObjectives"></label>
                        <textarea class="form-control" asp-for="KeyObjectives"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label">Project Time Frame</label>
                        <div class="input-group">
                            <input class="form-control" asp-for="ProjectTimeFrameNumber" />
                            <select class="form-control" asp-for="ProjectTimeFrameTimeUnit">
                                <option value="Days">Days</option>
                                <option value="Weeks">Weeks</option>
                                <option value="Months">Months</option>
                                <option value="Years">Years</option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="MainMethods"></label>
                        <textarea class="form-control" asp-for="MainMethods"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="VideosToProduce"></label>
                        <textarea class="form-control" asp-for="VideosToProduce"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="CurrentEquipment"></label>
                        <textarea class="form-control" asp-for="CurrentEquipment"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="HasAudioSpace"></label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="HasAudioSpace" />
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="AudioSpaceDescription"></label>
                        <textarea class="form-control" asp-for="AudioSpaceDescription"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="HasComputer"></label>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" asp-for="HasComputer" />
                        </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="ComputerDescription"></label>
                        <textarea class="form-control" asp-for="ComputerDescription"></textarea>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="EstimatedProjectCost"></label>
                        <input class="form-control" asp-for="EstimatedProjectCost" />
                    </div>
                    <div class="mb-2">
                        <label class="form-label" asp-for="VideoLinks"></label>
                        <input class="form-control mb-2" name="VideoLinks" />
                        <input class="form-control mb-2" name="VideoLinks" />
                    </div>
                    <button class="btn btn-primary">
                        Submit
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>